.container {
  margin-bottom: 50px;
}

.form-group {
  border-bottom: solid 1px black;
  background-color: ;
  padding-left: 10px;
  border-radius: 2%;
}

.question-icon {
  width: 30px;
  float: left;
}

.form-group label {
  font-style: italic;
  font-size: 20px;
}

.header h1, h2 {
  text-align: center;
  font-family: impact;
  color: white;
  text-shadow: 3px 3px #000;
}

.jumbotron.header {
  background-image: url(../img/header.jpg);
  background-size: cover;
  border-bottom: solid 1px black;
  margin-bottom: -20px;
}

.jumbotron.result {
  background-size: cover;
  padding-top: 30%;
  padding-bottom: 30%;
  margin-top: 50px;
  color: white;
  text-shadow: 3px 3px #000;
  border: solid 2px black;
  font-family: impact;
}

.jumbotron.china {
  background-image: url(../img/china.jpg);
}

.jumbotron.mexico {
  background-image: url(../img/mexico.jpg);
}

.jumbotron.england {
  background-image: url(../img/england.jpg);
}

.jumbotron.canada {
  background-image: url(../img/canada.jpg);
}

.jumbotron.germany {
  background-image: url(../img/germany.jpg);
}

.yourVacation {
  font-size: 20px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-radius: 5%;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.match {
  display: none;
}
